<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
<title>WEATHER REPORT</title>
</head>
<style>
.row {
display: flex;
justify-content: space-between;
}
.column {
flex: 33%;
padding: 10px;
}
</style>
<body style="background-color: #ADD8E6">
<h1 align="center"; style="color: navy"><u>Y AND R WEATHER STATION</u>   <iframe src="https://giphy.com/embed/KV1s4kSJHaY3m" width="48" height="48" 
frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/ae-everyday-aftereffects-KV1s4kSJHaY3m"></a></p></h1>
<br>
<p align="center"><iframe src="https://esmemes.com/embed/i/drizzle-with-snowflakes-icallit-snizzle-quickmeme-com-funny-hot-weather-meme-8422634344544093be91ef5d24d291ca" 
width="500" height="483" frameBorder="0" class="sizzle-embed" style="max-width:100%;" allowFullScreen></iframe><p>
<a href="https://esmemes.com/i/drizzle-with-snowflakes-icallit-snizzle-quickmeme-com-funny-hot-weather-meme-8422634344544093be91ef5d24d291ca"></a></p>

<h2 align="center"> Click below to get Temperature & Humidity data </h2>
<p align="center"><button><a href="/dhtpin/get" style="color: teal"> Click Here </a></button></p>

<h4 align="center"; style="color: red"> {{ today_s }} </h4>
<h4 align="center"; style="color: red"> {{ now_s }} </h4>
<h4 align="center"; style="color: red"> {{ temperature }} &deg;C</h4>
<h4 align="center"; style="color: red"> {{ temperature_f }} &deg;F</h4>
<h4 align="center"; style="color: red"> {{ humidity }} RH</h4>
<br>

</body>
</html>